h1 {
  color: #007bff;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
