<h1>{{ 'common.lessons' | translate }}</h1>

<div>
  <label>{{ 'filter.byInstrument' | translate }}</label>
  <select (change)="onInstrumentFilterChange($event)">
    <option value="">{{ 'filter.allInstruments' | translate }}</option>
    @for (instrument of instruments$ | async; track instrument.id) {
      <option [value]="instrument.id">{{ instrument.nameKey | translate }}</option>
    }
  </select>
</div>

<div>
  <label>{{ 'filter.byLanguage' | translate }}</label>
  <select (change)="onLanguageFilterChange($event)">
    <option value="">{{ 'filter.allLanguages' | translate }}</option>
    @for (lang of languages; track lang) {
      <option [value]="lang">{{ 'language.' + lang | translate }}</option>
    }
  </select>
</div>

<div>
  <label>{{ 'pagination.elementPerPage' | translate }}</label>
  <select (change)="onPageSizeChange($event)">
    @for (size of pageSizeOptions; track size) {
      <option [value]="size">{{ size === 'all' ? ('common.all' | translate) : size }}</option>
    }
  </select>
</div>

<ul>
  @for (courseWithInstructor of pagedCourses$ | async; track trackByCourseId) {
    <li>
      <a [routerLink]="['/courses', courseWithInstructor.course.id]">
        {{ courseWithInstructor.course.title }} - {{ courseWithInstructor.instructor.name }}
        {{ 'common.instrument' | translate }}: 
        @if (instruments$ | async; as instruments) {
          {{ 'instrument.' + getInstrumentKey(courseWithInstructor.course.instrument_id, instruments) | translate }}
        }
        @if (courseWithInstructor.course.category === 'initial') {
          {{ 'common.concept' | translate }}: {{ courseWithInstructor.course.concept }}
        }
        @if (courseWithInstructor.course.category === 'cover') {
          {{ 'common.song' | translate }} ID: {{ courseWithInstructor.course.song_id }}
        }
      </a>
    </li>
  }
</ul>

@if ((pageSize$ | async) !== 'all') {
  <button (click)="onPreviousPage()" [disabled]="(currentPage$ | async) === 1">
    {{ 'pagination.previousPage' | translate }}
  </button>
  <span>
    {{ 'pagination.pageOn' | translate: { current: (currentPage$ | async), total: (totalPages$ | async) } }}
  </span>
  <button (click)="onNextPage()" [disabled]="(currentPage$ | async) === (totalPages$ | async)">
    {{ 'pagination.nextPage' | translate }}
  </button>
}
