<div class="course-content" *ngIf="courseWithInstructor">
  <h1>{{ courseWithInstructor.course.title }}</h1>
  
  <div class="chapter-list">
    <h2>{{ 'course.chapterList' | translate }}</h2>
    <ul>
      <li *ngFor="let chapter of chapters" 
          (click)="selectChapter(chapter)"
          [class.active]="chapter.id === currentChapter?.id">
        {{ chapter.title }}
      </li>
    </ul>
  </div>

  <div class="chapter-display" *ngIf="currentChapter">
    <h2>{{ 'course.currentChapter' | translate }}: {{ currentChapter.title }}</h2>
    
    <div class="video-player">
      <h3>{{ 'course.videoPlayer' | translate }}</h3>
      <video #videoPlayer class="video-js vjs-default-skin vjs-big-play-centered"></video>
    </div>

    <div class="chapter-content">
      <h3>{{ 'course.chapterContent' | translate }}</h3>
      <p>{{ currentChapter.content }}</p>
    </div>

    <div class="additional-resources" *ngIf="currentChapter.additional_resources && currentChapter.additional_resources.length > 0">
      <h3>{{ 'course.additionalResources' | translate }}</h3>
      <ul>
        <li *ngFor="let resource of currentChapter.additional_resources">
          <a [href]="resource" target="_blank">{{ resource }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
